In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
data = pd.read_csv("../input/insurance-dataset/Insurance cross sell.csv")
data.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

In [3]:
data.shape

(381109, 12)

In [4]:
data.dropna()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0
...,...,...,...,...,...,...,...,...,...,...,...,...
381104,381105,Male,74,1,26.0,1,1-2 Year,No,30170.0,26.0,88,0
381105,381106,Male,30,1,37.0,1,< 1 Year,No,40016.0,152.0,131,0
381106,381107,Male,21,1,30.0,1,< 1 Year,No,35118.0,160.0,161,0
381107,381108,Female,68,1,14.0,0,> 2 Years,Yes,44617.0,124.0,74,0
381108,381109,Male,46,1,29.0,0,1-2 Year,No,41777.0,26.0,237,0

In [5]:
data.shape

(381109, 12)

In [6]:
data.describe()

,id,Age,Driving_License,Region_Code,Previously_Insured,Annual_Premium,Policy_Sales_Channel,Vintage,Response
count,381109.000000,381109.000000,381109.000000,381109.000000,381109.000000,381109.000000,381109.000000,381109.000000,381109.000000
mean,190555.000000,38.822584,0.997869,26.388807,0.458210,30564.389581,112.034295,154.347397,0.122563
std,110016.836208,15.511611,0.046110,13.229888,0.498251,17213.155057,54.203995,83.671304,0.327936
min,1.000000,20.000000,0.000000,0.000000,0.000000,2630.000000,1.000000,10.000000,0.000000
25%,95278.000000,25.000000,1.000000,15.000000,0.000000,24405.000000,29.000000,82.000000,0.000000
50%,190555.000000,36.000000,1.000000,28.000000,0.000000,31669.000000,133.000000,154.000000,0.000000
75%,285832.000000,49.000000,1.000000,35.000000,1.000000,39400.000000,152.000000,227.000000,0.000000
max,381109.000000,85.000000,1.000000,52.000000,1.000000,540165.000000,163.000000,299.000000,1.000000

In [8]:
data.drop('id',axis=1,inplace=True)

In [9]:
data.head()

,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

In [10]:
gender=pd.get_dummies(data['Gender'],drop_first=True)

In [14]:
vehicle_age=pd.get_dummies(data['Vehicle_Age'],drop_first=True)

In [15]:
vehicle_damage=pd.get_dummies(data['Vehicle_Damage'],drop_first=True)

In [16]:
data= pd.concat([data,gender,vehicle_age,vehicle_damage],axis=1)

In [17]:
data.head()

,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response,Male,< 1 Year,> 2 Years,Yes
0,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1,1,0,1,1
1,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0,1,0,0,0
2,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1,1,0,1,1
3,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0,1,1,0,0
4,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0,0,1,0,0

In [20]:
data.drop(['Gender','Vehicle_Age','Vehicle_Damage'],axis=1,inplace=True)

In [21]:
data.head()

,Age,Driving_License,Region_Code,Previously_Insured,Annual_Premium,Policy_Sales_Channel,Vintage,Response,Male,< 1 Year,> 2 Years,Yes
0,44,1,28.0,0,40454.0,26.0,217,1,1,0,1,1
1,76,1,3.0,0,33536.0,26.0,183,0,1,0,0,0
2,47,1,28.0,0,38294.0,26.0,27,1,1,0,1,1
3,21,1,11.0,1,28619.0,152.0,203,0,1,1,0,0
4,29,1,41.0,1,27496.0,152.0,39,0,0,1,0,0

In [22]:
X= data.drop('Response',axis=1)
Y= data['Response']

In [23]:
from sklearn.model_selection  import train_test_split

In [24]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.1, random_state=101)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(342998, 11)
(38111, 11)
(342998,)
(38111,)

LOGISTIC REGRESSION

In [25]:
from sklearn.linear_model import LogisticRegression

In [27]:
clf = LogisticRegression(max_iter=1000).fit(X_train, Y_train)

In [33]:
pred1 = clf.predict(X_test)

In [37]:
from sklearn.metrics import accuracy_score

In [38]:
test_score = accuracy_score(Y_test,pred1)

In [39]:
print(test_score)

0.8767022644380887

K-NEAREST NEIGHBOUR

In [40]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=5)

In [41]:
neigh.fit(X_train, Y_train)

KNeighborsClassifier()

In [42]:
pred2 = neigh.predict(X_test)

In [43]:
test_score = accuracy_score(Y_test,pred2)

In [44]:
print(test_score)

0.8596730602713127

NAIVE BAYES CLASSIFIER

In [45]:
from sklearn.naive_bayes import GaussianNB

In [46]:
gnb = GaussianNB()

In [47]:
gnb.fit(X_train, Y_train)

GaussianNB()

In [48]:
pred3=gnb.predict(X_test)

In [49]:
test_score = accuracy_score(Y_test,pred3)

In [50]:
print(test_score)

0.8231481724436515

DECISION TREE CLASSIFIER

In [51]:
from sklearn.tree import DecisionTreeClassifier

In [52]:
dtc = DecisionTreeClassifier(random_state=0)

In [53]:
dtc.fit(X_train, Y_train)

DecisionTreeClassifier(random_state=0)

In [54]:
pred4=dtc.predict(X_test)

In [55]:
test_score = accuracy_score(Y_test,pred4)

In [56]:
print(test_score)

0.8257458476555325

SUPPORT VECTOR CLASSIFIER

In [57]:
from sklearn import svm

In [58]:
sv = svm.SVC()

In [59]:
sv.fit(X_train, Y_train)

SVC()

In [60]:
pred5=sv.predict(X_test)

In [61]:
test_score = accuracy_score(Y_test,pred5)

In [66]:
print(test_score)

0.8788013959224371

Random Forest Classifier

In [62]:
from sklearn.ensemble import  RandomForestClassifier

In [63]:
rfc= RandomForestClassifier(n_estimators=10)

In [64]:
rfc.fit(X_train,Y_train)

RandomForestClassifier(n_estimators=10)

In [65]:
pred6=rfc.predict(X_test)

In [67]:
test_score = accuracy_score(Y_test,pred6)

In [68]:
print(test_score)

0.8645273018288683

GRADIENT BOOSTED DECISION TREES

In [72]:
from sklearn.ensemble import GradientBoostingClassifier

In [74]:
gbc = GradientBoostingClassifier(random_state=0)

In [75]:
gbc.fit(X_train,Y_train)

GradientBoostingClassifier(random_state=0)

In [76]:
pred7=gbc.predict(X_test)

In [77]:
test_score = accuracy_score(Y_test,pred7)

In [ ]:
print(test_score)